.out {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}

.blind {
    position: absolute;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
} 

.sc_home img {
    vertical-align: bottom;
    width: 100%;
    max-width: 100%;
    height: auto;
    @include desktop {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.main_wrapper {
    .content_all {
        position: relative;
        background-color: #ebebea;
        margin-top: -30vw;
        padding-top: 5.208vw;
        padding-right: 2.60416vw;
        padding-bottom: 10.415vw;
        padding-left: 2.60416vw;
        @include mobile {
            padding-top: 10.208vw;
        }
        &.sc_activity{
            padding-right: 0;
        }
        &.sc_relation {
            margin-top: -30vw;
        }
        .content_inner {
            margin-bottom: 10.416vw;
            overflow: hidden;
        }
        .title {
            font-size: 10.416vw;
            font-weight: 600;   
            line-height: 1.04;
            margin-bottom: 2.6vw;    
            @include tablet {
                font-size: 13vw;
            }
            @include mobile {
                font-size: 17vw;
            }
        }
        .project_area {
            @include displayFlexSb;
            position: relative;
            z-index: 20;
        }
        .project_name {
            font-size: 2.0833333333vw;
            font-weight: 600;
            line-height: 1.04;
            margin-bottom: 0.78125vw;
            min-height: 2.9083vw;
            transition: all 0.6s ease;
            @include desktop {
                font-size: 3.2vw;
                margin-bottom: 2vw;
            }
            @include mobile {
                font-size: 7vw;
                margin-bottom: 3vw;
            }
            @include mobile {
                font-size: 7vw;
            }
        } 
    }
    .more_btn {
        font-size: 1.3020833333vw;
        line-height: 1.4583333333vw;
        .more_text {
            font-size: 1.3020833333vw;
            font-weight: 600;       
            text-decoration: underline;
            @include desktop {
                font-size: 1.7vw;
                line-height: 2vw;
            }
            @include tablet {
                font-size: 2.2vw;
                line-height: 2.5vw;
            }
            @include mobile {
                font-size: 4vw;
                line-height: 6vw; 
            }
        }
        .more_arrow {
            position: relative;
            display: inline-block;
            width: 1.4583333333vw;
            height: 1.4583333333vw;
            background: $main-color;
            border-radius: 50%;
            margin-left: 0.78125vw;
            vertical-align: middle;
            transition: all 0.8s ease;
            @include desktop {
                width: 2vw;
                height: 2vw;
            }
            @include tablet {
                width: 2.5vw;
                height: 2.5vw;
            }
            @include mobile {
                width: 6vw;
                height: 6vw; 
            }
        }
        svg {
            position: absolute;
            left: 50%;
            top: 50%; 
            transform: translateX(-50%) translateY(-50%);
            width: 0.5729166667vw;
            @include mobile {
                width: 2.2vw;
            }
            path {
                fill: $main-font-color;
            }
        }
        &:hover {
            .more_arrow {transform: scale(1.6,1.6);}
        }                
    }
    .more_area {//group_center, group_bottom 공통
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 10;
        @include mobile {
            transform: none!important;
        }
        .more_link {
            display: inline-block;
            max-width: 90vw;
            height: 6.77083vw;
            font-weight: 600;
            font-size: 3.64583vw;
            line-height: 1.68;
            color: rgb(10, 10, 13);
            border-radius: 5.2083vw;    
            background: rgb(252, 252, 252);
            margin-top: 15vw;
            margin-bottom: 15vw;
            padding: 0 10.416vw;
            transition: all 0.7s ease;
            @include tablet {
                height: 8.4vw;
                font-size: 4.2vw;
                padding: 0 12vw;
                line-height: 1.88;  
            }
            @include mobile {
                margin-top: 0;
                margin-bottom: 25vw;
                height: 15.4vw;
                font-size: 6vw;
                padding: 0;
                width: 100%;
                line-height: 2.4;
                border-radius: 10vw;
            }
            svg {
                display: inline-block;
                width: 2.60416vw;
                margin-left: 1.4vw;
                @include mobile {
                    width: 7vw;
                }
                path {
                    fill: rgb(10, 10, 13);
                    transition: all 0.7s ease;
                }
            }
            &:hover {
                color: $main-font-color;
                background: $main-color;
                path {
                    fill: $main-font-color;
                }
            }
        }
    }
    .sc_work, .sc_activity {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 
    }
}
