//position
@mixin postionCt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin postionVt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin postionHr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


//disply: flex
@mixin displayFlexSb{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

@mixin displayFlexCl{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin displayFlexRo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


//반응형
$mobile: 767px; //320
$tablet: 1023px; // 768
$desktop: 1300px; //1024

@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

@mixin desktop{
  @media (max-width: $desktop){
    @content;
    
  }
}

