@charset "UTF-8";
/* PP Pangram Sans */
@font-face {
  font-family: "PP Pangram Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/PPPangramSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "PP Pangram Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/PPPangramSans-Semibold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border: 0;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
  width: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

svg {
  height: auto;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "PP Pangram Sans", "Arial", sans-serif;
  font-size: 1.1458vw;
  line-height: 1.59;
  color: #0a0a0d;
  background: #0a0a0d;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.out {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.sc_home img {
  vertical-align: bottom;
  width: 100%;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1300px) {
  .sc_home img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}

.main_wrapper .content_all {
  position: relative;
  background-color: #ebebea;
  margin-top: -30vw;
  padding-top: 5.208vw;
  padding-right: 2.60416vw;
  padding-bottom: 10.415vw;
  padding-left: 2.60416vw;
}
@media (max-width: 767px) {
  .main_wrapper .content_all {
    padding-top: 10.208vw;
  }
}
.main_wrapper .content_all.sc_activity {
  padding-right: 0;
}
.main_wrapper .content_all.sc_relation {
  margin-top: -30vw;
}
.main_wrapper .content_all .content_inner {
  margin-bottom: 10.416vw;
  overflow: hidden;
}
.main_wrapper .content_all .title {
  font-size: 10.416vw;
  font-weight: 600;
  line-height: 1.04;
  margin-bottom: 2.6vw;
}
@media (max-width: 1023px) {
  .main_wrapper .content_all .title {
    font-size: 13vw;
  }
}
@media (max-width: 767px) {
  .main_wrapper .content_all .title {
    font-size: 17vw;
  }
}
.main_wrapper .content_all .project_area {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 20;
}
.main_wrapper .content_all .project_name {
  font-size: 2.0833333333vw;
  font-weight: 600;
  line-height: 1.04;
  margin-bottom: 0.78125vw;
  min-height: 2.9083vw;
  transition: all 0.6s ease;
}
@media (max-width: 1300px) {
  .main_wrapper .content_all .project_name {
    font-size: 3.2vw;
    margin-bottom: 2vw;
  }
}
@media (max-width: 767px) {
  .main_wrapper .content_all .project_name {
    font-size: 7vw;
    margin-bottom: 3vw;
  }
}
@media (max-width: 767px) {
  .main_wrapper .content_all .project_name {
    font-size: 7vw;
  }
}
.main_wrapper .more_btn {
  font-size: 1.3020833333vw;
  line-height: 1.4583333333vw;
}
.main_wrapper .more_btn .more_text {
  font-size: 1.3020833333vw;
  font-weight: 600;
  text-decoration: underline;
}
@media (max-width: 1300px) {
  .main_wrapper .more_btn .more_text {
    font-size: 1.7vw;
    line-height: 2vw;
  }
}
@media (max-width: 1023px) {
  .main_wrapper .more_btn .more_text {
    font-size: 2.2vw;
    line-height: 2.5vw;
  }
}
@media (max-width: 767px) {
  .main_wrapper .more_btn .more_text {
    font-size: 4vw;
    line-height: 6vw;
  }
}
.main_wrapper .more_btn .more_arrow {
  position: relative;
  display: inline-block;
  width: 1.4583333333vw;
  height: 1.4583333333vw;
  background: #F27405;
  border-radius: 50%;
  margin-left: 0.78125vw;
  vertical-align: middle;
  transition: all 0.8s ease;
}
@media (max-width: 1300px) {
  .main_wrapper .more_btn .more_arrow {
    width: 2vw;
    height: 2vw;
  }
}
@media (max-width: 1023px) {
  .main_wrapper .more_btn .more_arrow {
    width: 2.5vw;
    height: 2.5vw;
  }
}
@media (max-width: 767px) {
  .main_wrapper .more_btn .more_arrow {
    width: 6vw;
    height: 6vw;
  }
}
.main_wrapper .more_btn svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.5729166667vw;
}
@media (max-width: 767px) {
  .main_wrapper .more_btn svg {
    width: 2.2vw;
  }
}
.main_wrapper .more_btn svg path {
  fill: #FCFCFC;
}
.main_wrapper .more_btn:hover .more_arrow {
  transform: scale(1.6, 1.6);
}
.main_wrapper .more_area {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 10;
}
@media (max-width: 767px) {
  .main_wrapper .more_area {
    transform: none !important;
  }
}
.main_wrapper .more_area .more_link {
  display: inline-block;
  max-width: 90vw;
  height: 6.77083vw;
  font-weight: 600;
  font-size: 3.64583vw;
  line-height: 1.68;
  color: rgb(10, 10, 13);
  border-radius: 5.2083vw;
  background: rgb(252, 252, 252);
  margin-top: 15vw;
  margin-bottom: 15vw;
  padding: 0 10.416vw;
  transition: all 0.7s ease;
}
@media (max-width: 1023px) {
  .main_wrapper .more_area .more_link {
    height: 8.4vw;
    font-size: 4.2vw;
    padding: 0 12vw;
    line-height: 1.88;
  }
}
@media (max-width: 767px) {
  .main_wrapper .more_area .more_link {
    margin-top: 0;
    margin-bottom: 25vw;
    height: 15.4vw;
    font-size: 6vw;
    padding: 0;
    width: 100%;
    line-height: 2.4;
    border-radius: 10vw;
  }
}
.main_wrapper .more_area .more_link svg {
  display: inline-block;
  width: 2.60416vw;
  margin-left: 1.4vw;
}
@media (max-width: 767px) {
  .main_wrapper .more_area .more_link svg {
    width: 7vw;
  }
}
.main_wrapper .more_area .more_link svg path {
  fill: rgb(10, 10, 13);
  transition: all 0.7s ease;
}
.main_wrapper .more_area .more_link:hover {
  color: #FCFCFC;
  background: #F27405;
}
.main_wrapper .more_area .more_link:hover path {
  fill: #FCFCFC;
}
.main_wrapper .sc_work img, .main_wrapper .sc_activity img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 2.60416vw 5.2083vw 0 5.2083vw;
}
.header .group_logo {
  width: 10.9375vw;
  height: auto;
}
@media (max-width: 1300px) {
  .header .group_logo {
    width: 14vw;
  }
}
@media (max-width: 1023px) {
  .header .group_logo {
    width: 20vw;
  }
}
@media (max-width: 767px) {
  .header .group_logo {
    width: 42vw;
  }
}
.header .group_toggle {
  position: relative;
  width: 20%;
  font-weight: 600;
  color: rgb(252, 252, 252);
  text-align: right;
  overflow: hidden;
}
.header .group_toggle .menu_close {
  position: absolute;
  display: none;
}
@media (max-width: 1300px) {
  .header .group_toggle {
    font-size: 1.5vw;
  }
}
@media (max-width: 1023px) {
  .header .group_toggle {
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .header .group_toggle {
    font-size: 4vw;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 4vw 5vw 0 4vw;
  }
}

.footer {
  background: #0a0a0d;
  padding-left: 2.60416vw;
  padding-right: 2.60416vw;
}
.footer .fooer_top {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  border-bottom: solid 2px #fcfcfc;
  padding-top: 7vw;
  padding-bottom: 7vw;
}
@media (max-width: 1023px) {
  .footer .fooer_top {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
}
@media (max-width: 767px) {
  .footer .fooer_top {
    border-bottom: solid 1px #fcfcfc;
  }
}
.footer .fooer_top .group_view {
  width: 39vw;
}
@media (max-width: 1023px) {
  .footer .fooer_top .group_view {
    width: 35vw;
  }
}
@media (max-width: 767px) {
  .footer .fooer_top .group_view {
    display: none;
  }
}
.footer .fooer_top .group_view .view_title {
  font-size: 5.2083vw;
  color: #fcfcfc;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1.83vw;
}
@media (max-width: 1023px) {
  .footer .fooer_top .group_view .view_title {
    font-size: 6.2vw;
    margin-bottom: 2.5vw;
  }
}
.footer .fooer_top .group_view .view_btn {
  display: inline-block;
  height: 3.64583vw;
  font-size: 1.302083vw;
  font-weight: 600;
  line-height: 2.57;
  background-color: #F27405;
  color: #FCFCFC;
  border-radius: 5.2083vw;
  padding: 0 6.0416vw;
  transition: all 0.6s ease;
}
@media (max-width: 1300px) {
  .footer .fooer_top .group_view .view_btn {
    font-size: 1.5vw;
    padding: 0 4vw;
    line-height: 2.4;
  }
}
@media (max-width: 1023px) {
  .footer .fooer_top .group_view .view_btn {
    height: 5.5vw;
    line-height: 2.3;
    font-size: 2.3vw;
  }
}
.footer .fooer_top .group_view .view_btn:hover {
  color: #0a0a0d;
  background-color: #FCFCFC;
}
.footer .fooer_top .group_inform, .footer .fooer_top .group_contact {
  width: 16.66vw;
  color: #FCFCFC;
}
@media (max-width: 1300px) {
  .footer .fooer_top .group_inform, .footer .fooer_top .group_contact {
    width: 20vw;
  }
}
@media (max-width: 1023px) {
  .footer .fooer_top .group_inform, .footer .fooer_top .group_contact {
    width: 25vw;
  }
}
.footer .fooer_top .group_inform .inform_title, .footer .fooer_top .group_contact .inform_title {
  font-size: 1.875vw;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 14px;
}
@media (max-width: 1300px) {
  .footer .fooer_top .group_inform .inform_title, .footer .fooer_top .group_contact .inform_title {
    font-size: 2.2vw;
  }
}
@media (max-width: 1023px) {
  .footer .fooer_top .group_inform .inform_title, .footer .fooer_top .group_contact .inform_title {
    font-size: 3.2vw;
  }
}
@media (max-width: 767px) {
  .footer .fooer_top .group_inform .inform_title, .footer .fooer_top .group_contact .inform_title {
    font-size: 7vw;
  }
}
.footer .fooer_top .group_inform .inform_list, .footer .fooer_top .group_contact .inform_list {
  line-height: 2.2;
}
.footer .fooer_top .group_inform .inform_list a, .footer .fooer_top .group_contact .inform_list a {
  text-decoration: underline;
}
@media (max-width: 1300px) {
  .footer .fooer_top .group_inform .inform_list, .footer .fooer_top .group_contact .inform_list {
    font-size: 1.4vw;
  }
}
@media (max-width: 1023px) {
  .footer .fooer_top .group_inform .inform_list, .footer .fooer_top .group_contact .inform_list {
    font-size: 1.7vw;
  }
}
@media (max-width: 767px) {
  .footer .fooer_top .group_inform .inform_list, .footer .fooer_top .group_contact .inform_list {
    font-size: 3vw;
  }
}
@media (max-width: 767px) {
  .footer .fooer_top .group_inform {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .footer .fooer_top .group_contact {
    width: 42%;
  }
}
.footer .footer_bottom {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-top: 1.875vw;
  padding-bottom: 1.875vw;
}
@media (max-width: 1023px) {
  .footer .footer_bottom {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}
@media (max-width: 767px) {
  .footer .footer_bottom {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
}
.footer .footer_bottom .fooer_logo {
  display: inline-block;
  width: 10.10416vw;
  height: auto;
}
@media (max-width: 1023px) {
  .footer .footer_bottom .fooer_logo {
    width: 18vw;
  }
}
@media (max-width: 767px) {
  .footer .footer_bottom .fooer_logo {
    width: 25vw;
  }
}
.footer .footer_bottom .social_link {
  display: inline-block;
  height: 2.34375vw;
  font-size: 1.0416vw;
  font-weight: 600;
  line-height: 2.2;
  background: rgb(242, 116, 5);
  color: rgb(252, 252, 252);
  border-radius: 5.2083vw;
  margin-right: 2.3vw;
  padding: 0 1.5625vw;
  transition: all 0.7s ease;
}
@media (max-width: 1023px) {
  .footer .footer_bottom .social_link {
    height: 3.84375vw;
    line-height: 2.2;
    font-size: 1.7416vw;
    padding: 0 2.5vw;
  }
}
@media (max-width: 767px) {
  .footer .footer_bottom .social_link {
    height: 6vw;
    line-height: 2.3;
    font-size: 2.6vw;
    padding: 0 3vw;
  }
}
.footer .footer_bottom .social_link:hover {
  color: #0a0a0d;
  background-color: #FCFCFC;
}

.page_load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}
.page_load .ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 5.8vw;
  height: 5.8vw;
  border: 1.1vw solid #f27405;
}
@media (max-width: 767px) {
  .page_load .ring {
    width: 12vw;
    height: 12vw;
    border: 2.5vw solid #f27405;
  }
}

.mask {
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  top: 0;
  left: 0;
  mask-size: 3.7vw;
  -webkit-mask-size: 3.7vw;
  mask-image: url(../images/load_round.png);
  -webkit-mask-image: url(../images/load_round.png);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
@media (max-width: 767px) {
  .mask {
    mask-size: 7.3vw;
    -webkit-mask-size: 7.3vw;
  }
}

.main_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.sc_home {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
}
.sc_home .group_title {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  padding-left: 5.2vw;
  z-index: 10;
}
.sc_home .group_title .title_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 9.816vw;
  font-weight: 600;
  color: #fcfcfc;
  line-height: 1.04;
}
@media (max-width: 1023px) {
  .sc_home .group_title .title_box {
    font-size: 13.8vw;
  }
}
@media (max-width: 767px) {
  .sc_home .group_title .title_box {
    font-size: 17.8vw;
  }
}
.sc_home .group_main {
  position: relative;
  z-index: 5;
  width: 100vw;
}
@media (max-width: 1300px) {
  .sc_home .group_main {
    height: 100vh;
  }
}
.sc_home .group_main .home_bg {
  opacity: 0.4;
}
.sc_home .group_sub1 {
  position: relative;
  width: 45vw;
  height: auto;
  margin-right: 3vw;
  margin-top: 12vw;
  margin-left: auto;
  z-index: 15;
}
@media (max-width: 1023px) {
  .sc_home .group_sub1 {
    width: 65vw;
    margin-top: 16vw;
  }
}
.sc_home .group_sub2 {
  position: relative;
  width: 49vw;
  height: 100%;
  margin-left: 6.5vw;
  margin-top: -20vw;
  z-index: 5;
}
@media (max-width: 1023px) {
  .sc_home .group_sub2 {
    width: 70vw;
  }
}
.sc_home .group_sub3 {
  position: relative;
  width: 38.5vw;
  margin-right: 3vw;
  margin-top: 5vw;
  z-index: 5;
}
@media (max-width: 1023px) {
  .sc_home .group_sub3 {
    width: 65vw;
    margin-top: -10vw;
    margin-left: auto;
  }
}
.sc_home .home_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}

.sc_round {
  position: relative;
  height: 80vw;
  margin-top: -7.5vw;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc_round {
    height: 115vw;
  }
}
.sc_round .round_inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ebebea;
  width: 100%;
  max-width: 300% !important;
  height: 0 !important;
  padding-bottom: 100%;
}
.sc_round .round_inner .round {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  background: #0a0a0d;
  border-radius: 50%;
  padding-bottom: 98%;
  overflow: hidden;
}
.sc_round .round_inner .second {
  width: 70%;
  top: 15%;
  left: 15%;
  background: #ebebea;
  padding: 0 0 70% 0;
  overflow: hidden;
}
.sc_round .round_inner .third {
  width: 68%;
  top: 16%;
  left: 16%;
  background: #0a0a0d;
  padding: 0 0 68% 0;
  overflow: hidden;
}
.sc_round .round_inner .four {
  width: 40%;
  top: 30%;
  left: 30%;
  background: #ebebea;
  padding: 0 0 40% 0;
  overflow: hidden;
}
.sc_round .round_inner .fifth {
  width: 38%;
  top: 31%;
  left: 31%;
  background: #0a0a0d;
  padding: 0 0 38% 0;
  overflow: hidden;
}

.sc_work .group_top {
  padding-bottom: 10px;
}
.sc_work .group_top .text_area1 {
  width: 62.5vw;
}
@media (max-width: 1300px) {
  .sc_work .group_top .text_area1 {
    width: 72.5vw;
  }
}
@media (max-width: 1023px) {
  .sc_work .group_top .text_area1 {
    width: 100%;
  }
}
.sc_work .group_top .text_area1 .title {
  font-size: 6.25vw;
  font-weight: 600;
  line-height: 1.083;
  margin-bottom: 2.604vw;
}
@media (max-width: 1300px) {
  .sc_work .group_top .text_area1 .title {
    font-size: 8vw;
  }
}
@media (max-width: 1023px) {
  .sc_work .group_top .text_area1 .title {
    font-size: 8.6vw;
  }
}
@media (max-width: 767px) {
  .sc_work .group_top .text_area1 .title {
    font-size: 15vw;
    margin-bottom: 6.604vw;
  }
}
.sc_work .group_top .text_area1 .desc {
  font-size: 1.5625vw;
  margin-bottom: 2.60416vw;
}
@media (max-width: 1300px) {
  .sc_work .group_top .text_area1 .desc {
    font-size: 1.7vw;
  }
}
@media (max-width: 1023px) {
  .sc_work .group_top .text_area1 .desc {
    font-size: 2.5vw;
  }
}
@media (max-width: 767px) {
  .sc_work .group_top .text_area1 .desc {
    font-size: 4.5vw;
  }
}
.sc_work .group_top .thumb_area {
  position: relative;
  margin-bottom: 2.08vw;
}
.sc_work .group_top .text_area2 {
  width: 62.5vw;
}
@media (max-width: 1300px) {
  .sc_work .group_top .text_area2 {
    width: 72.5vw;
  }
}
@media (max-width: 1023px) {
  .sc_work .group_top .text_area2 {
    width: 100%;
  }
}
.sc_work .group_top .text_area2 .desc {
  font-size: 1.1458vw;
  margin-bottom: 2.60416vw;
}
@media (max-width: 1300px) {
  .sc_work .group_top .text_area2 .desc {
    font-size: 1.5vw;
  }
}
@media (max-width: 1023px) {
  .sc_work .group_top .text_area2 .desc {
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .sc_work .group_top .text_area2 .desc {
    font-size: 4vw;
    margin-bottom: 8vw;
  }
}
@media (max-width: 767px) {
  .sc_work .group_top img {
    height: 140vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.sc_work .group_center .size1 {
  position: relative;
  width: 56vw;
}
.sc_work .group_center .size2 {
  position: relative;
  width: 36.6666666667vw;
  margin-top: 40vw;
}
.sc_work .group_center .size2 .thumb_wrap {
  height: 51.4583vw;
}
.sc_work .group_center .size3 {
  position: relative;
  width: 49.739583vw;
  margin-top: -10vw;
}
.sc_work .group_center .size3 .thumb_wrap {
  height: 39.114583vw;
}
.sc_work .group_center .project_link:hover .hover_title, .sc_work .group_center .project_link:hover .hover_bg {
  opacity: 1;
}
.sc_work .group_center .project_link:hover .project_name {
  opacity: 0;
  transform: translateY(-100%);
}
.sc_work .group_center .project_link:hover .project_tag {
  opacity: 1;
  transform: translateY(-100%);
}
@media (max-width: 767px) {
  .sc_work .group_center .project_link {
    width: 100% !important;
    margin-bottom: 10vw;
    margin-top: 0 !important;
  }
  .sc_work .group_center .project_link .project_name {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  .sc_work .group_center .project_link .project_tag {
    opacity: 0 !important;
    transform: translateY(0) !important;
  }
}
.sc_work .group_center .thumb_wrap {
  position: relative;
  height: 61.302083vw;
  margin-bottom: 1.0416vw;
}
@media (max-width: 767px) {
  .sc_work .group_center .thumb_wrap {
    height: 100vw !important;
    margin-bottom: 2vw;
  }
}
.sc_work .group_center .thumb_wrap .hover_title {
  position: absolute;
  left: 2%;
  top: 50%;
  width: 96%;
  transform: translate3d(0, -50%, 0);
  font-size: 3.64583vw;
  font-weight: 600;
  line-height: 1.04;
  text-align: center;
  color: #FCFCFC;
  z-index: 2;
  opacity: 0;
  transition: all 0.6s ease;
}
@media (max-width: 1300px) {
  .sc_work .group_center .thumb_wrap .hover_title {
    font-size: 3.2vw;
    margin-bottom: 2vw;
  }
}
@media (max-width: 1023px) {
  .sc_work .group_center .thumb_wrap .hover_title {
    font-size: 4vw;
  }
}
.sc_work .group_center .thumb_wrap .hover_bg {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s ease;
}
.sc_work .group_center .text_wrap {
  min-height: 2.9083vw;
  overflow: hidden;
}
.sc_work .group_center .text_wrap .project_tag {
  position: absolute;
  margin-bottom: 1.82083vw;
  opacity: 0;
  transition: all 0.6s ease;
}
.sc_work .group_center .text_wrap .tag {
  display: inline-block;
  height: 2.7083vw;
  font-size: 1.14583vw;
  font-weight: 600;
  line-height: 2.7083vw;
  background: #fcfcfc;
  padding: 0 1.80416vw;
  border-radius: 5.2083vw;
  margin-right: 0.52083vw;
  margin-bottom: 0.82083vw;
}
@media (max-width: 1300px) {
  .sc_work .group_center .text_wrap .tag {
    height: 3vw;
    line-height: 2.3;
    font-size: 1.3vw;
  }
}
@media (max-width: 1023px) {
  .sc_work .group_center .text_wrap .tag {
    height: 3.84375vw;
    line-height: 2.2;
    font-size: 1.7416vw;
  }
}
@media (max-width: 767px) {
  .sc_work .group_center .text_wrap .tag {
    height: 7.2vw;
    line-height: 2;
    font-size: 3.6vw;
    padding: 0 3vw;
    margin-right: 2vw;
    margin-bottom: 2.5vw;
  }
}
.sc_work .group_center .text_wrap .count {
  display: inline-block;
  width: 2.7083vw;
  height: 2.7083vw;
  font-size: 1.14583vw;
  text-align: center;
  line-height: 2.8083vw;
  color: #FCFCFC;
  background: #F27405;
  border-radius: 50%;
}
.sc_work .group_bottom {
  margin-bottom: 0 !important;
}
.sc_work .group_bottom .project_inner {
  width: 29.7916666667vw;
  transform: translateY(10vw);
  opacity: 0;
}
@media (max-width: 767px) {
  .sc_work .group_bottom .project_inner {
    width: 100%;
    margin-bottom: 15vw;
  }
}
.sc_work .group_bottom .thumb_wrap {
  position: relative;
  display: block;
  height: 42.65625vw;
  margin-bottom: 2.0833vw;
  overflow: hidden;
}
@media (max-width: 767px) {
  .sc_work .group_bottom .thumb_wrap {
    height: 100vw;
  }
}
.sc_work .group_bottom .thumb_wrap .thumb_tag {
  position: absolute;
  top: 2.0833333333vw;
  right: 2.0833333333vw;
  display: inline-block;
  height: 2.34375vw;
  line-height: 2.34375vw;
  font-weight: 600;
  color: #FCFCFC;
  border-radius: 5.2083333333vw;
  background: #F27405;
  padding: 0 1.5625vw;
  z-index: 2;
}
@media (max-width: 1023px) {
  .sc_work .group_bottom .thumb_wrap .thumb_tag {
    height: 3.2vw;
    line-height: 2;
    font-size: 1.6vw;
  }
}
@media (max-width: 767px) {
  .sc_work .group_bottom .thumb_wrap .thumb_tag {
    height: 6.2vw;
    line-height: 1.7;
    font-size: 3.6vw;
    padding: 0 3vw;
  }
}
.sc_work .group_bottom .thumb_wrap img {
  transition: all 0.7s ease;
}
.sc_work .group_bottom .thumb_wrap img:hover {
  transform: scale(1.1);
}
@media (max-width: 1300px) {
  .sc_work .group_bottom .project_name {
    font-size: 2.5vw;
  }
}
@media (max-width: 1023px) {
  .sc_work .group_bottom .project_name {
    font-size: 2.8vw;
  }
}
@media (max-width: 767px) {
  .sc_work .group_bottom .project_name {
    font-size: 7vw;
  }
}
.sc_work .hide_box {
  position: absolute;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  background: #ebebea;
  right: -2px;
  bottom: -2px;
  opacity: 1;
  z-index: 30;
}

.sc_activity.content_all {
  margin-top: 0;
  background: #0a0a0d;
  color: #fcfcfc;
  overflow: hidden;
}
.sc_activity.content_all .project_name {
  transition: none;
}
.sc_activity.content_all .activity_inner1 {
  padding-top: 10vw;
  overflow: hidden;
}
.sc_activity.content_all .activity_inner2 {
  transform: translateY(-8vw);
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc_activity.content_all .activity_inner2 {
    padding-top: 30vw;
  }
}
@media (max-width: 1023px) {
  .sc_activity.content_all .title {
    font-size: 8.6vw;
  }
}
@media (max-width: 767px) {
  .sc_activity.content_all .title {
    font-size: 15vw;
  }
}
.sc_activity .group_text {
  width: 100%;
  padding-right: 2.60416vw;
  padding-left: 2.60416vw;
}
.sc_activity .group_text .title {
  margin-bottom: 2.604vw;
}
@media (max-width: 1300px) {
  .sc_activity .group_text .title {
    font-size: 8vw;
  }
}
.sc_activity .group_text .desc {
  width: 62.5vw;
  font-size: 1.1458vw;
  margin-bottom: 2.60416vw;
}
@media (max-width: 1300px) {
  .sc_activity .group_text .desc {
    width: 72.5vw;
    font-size: 1.5vw;
  }
}
@media (max-width: 1023px) {
  .sc_activity .group_text .desc {
    width: 100%;
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .sc_activity .group_text .desc {
    width: 100%;
    font-size: 4vw;
    margin-bottom: 8vw;
    word-break: break-all;
  }
}
.sc_activity .group_slide {
  padding: 1.30208vw 0;
  white-space: nowrap;
  display: block;
}
@media (max-width: 767px) {
  .sc_activity .group_slide {
    margin-bottom: 10vw;
  }
}
.sc_activity .group_slide .slide_inner1 {
  display: flex;
  position: relative;
  flex-wrap: nowrap !important;
}
.sc_activity .group_slide .slide_inner2 {
  display: flex;
  max-width: 9999999999999px;
  padding-right: 2.60416vw;
  white-space: nowrap;
}
.sc_activity .group_slide .text_box {
  display: inline-block;
  position: relative;
  left: auto;
  top: auto;
  width: 35vw;
  height: 100%;
  color: rgb(10, 10, 13);
  background: rgb(252, 252, 252);
  border-radius: 0.5208vw;
  text-align: left;
  white-space: normal;
  margin-right: 2.60416vw;
  padding: 2.6vw 2.6vw 4vw;
  transition: all 0.6s;
}
.sc_activity .group_slide .text_box:hover {
  color: #FCFCFC;
  background: #F27405;
}
.sc_activity .group_slide .text_box:hover .more_btn {
  color: #FCFCFC;
}
@media (max-width: 1023px) {
  .sc_activity .group_slide .text_box {
    width: 60vw;
    padding: 4vw 4vw 6vw 4vw;
  }
}
@media (max-width: 767px) {
  .sc_activity .group_slide .text_box {
    width: 80vw;
    padding: 6vw 6vw 10vw 6vw;
  }
}
.sc_activity .group_slide .text_box .project_desc {
  margin-bottom: 2.60416vw;
}
@media (max-width: 1300px) {
  .sc_activity .group_slide .text_box .project_desc {
    font-size: 1.5vw;
  }
}
@media (max-width: 1023px) {
  .sc_activity .group_slide .text_box .project_desc {
    font-size: 2vw;
    margin-bottom: 4vw;
  }
}
@media (max-width: 767px) {
  .sc_activity .group_slide .text_box .project_desc {
    font-size: 4vw;
    margin-bottom: 8vw;
  }
}
.sc_activity .group_slide .text_box .more_btn {
  position: absolute;
  left: 2.6vw;
  bottom: 2.6vw;
  font-size: 1.302vw;
  font-weight: 600;
  text-decoration: underline;
  color: rgb(10, 10, 13);
}
@media (max-width: 1023px) {
  .sc_activity .group_slide .text_box .more_btn {
    left: 4vw;
    bottom: 4vw;
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .sc_activity .group_slide .text_box .more_btn {
    left: 6vw;
    bottom: 6vw;
    font-size: 4vw;
  }
}
.sc_activity .group_slide .text_box .project_number {
  position: absolute;
  right: 2.6vw;
  bottom: 2.6vw;
  font-size: 2.6vw;
  line-height: 1;
}
@media (max-width: 1023px) {
  .sc_activity .group_slide .text_box .project_number {
    right: 4vw;
    bottom: 4vw;
    font-size: 4vw;
  }
}
@media (max-width: 767px) {
  .sc_activity .group_slide .text_box .project_number {
    right: 6vw;
    bottom: 6vw;
    font-size: 6vw;
  }
}

.sc_relation {
  position: relative;
}
.sc_relation .relation_inner {
  margin-bottom: 0;
  overflow: hidden;
}
.sc_relation .relation_inner .title_area {
  line-height: 1.083;
  font-size: 6.25vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5.208vw;
}
@media (max-width: 1300px) {
  .sc_relation .relation_inner .title_area {
    font-size: 8vw;
  }
}
@media (max-width: 1023px) {
  .sc_relation .relation_inner .title_area {
    font-size: 8.6vw;
  }
}
@media (max-width: 767px) {
  .sc_relation .relation_inner .title_area {
    font-size: 11.6vw;
    margin-bottom: 6.604vw;
  }
}
.sc_relation .relation_inner .relation_area {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  overflow: hidden;
}
.sc_relation .relation_inner .relation_wrap {
  width: 19.114583vw;
  transform: translateY(10vw);
  opacity: 0;
}
@media (max-width: 1023px) {
  .sc_relation .relation_inner .relation_wrap {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .sc_relation .relation_inner .relation_wrap {
    width: 45%;
  }
}
@media (max-width: 1023px) {
  .sc_relation .relation_inner .relation_wrap:nth-child(4) {
    display: none;
  }
}
@media (max-width: 767px) {
  .sc_relation .relation_inner .relation_wrap:nth-child(3) {
    display: none;
  }
}
.sc_relation .relation_inner .logo_box {
  display: flex;
  align-items: flex-end;
  height: 4.5vw;
  border-bottom: solid 1px #0a0a0d;
  padding-bottom: 1.5625vw;
  margin-bottom: 1.5625vw;
}
@media (max-width: 1023px) {
  .sc_relation .relation_inner .logo_box {
    height: 8vw;
  }
}
@media (max-width: 767px) {
  .sc_relation .relation_inner .logo_box {
    height: 13vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
  }
}
.sc_relation .relation_inner .logo_box img {
  max-width: 12.916vw;
  max-height: 100%;
  height: auto;
  vertical-align: bottom;
}
@media (max-width: 1023px) {
  .sc_relation .relation_inner .logo_box img {
    max-width: 16.916vw;
  }
}
@media (max-width: 767px) {
  .sc_relation .relation_inner .logo_box img {
    max-width: 35vw;
  }
}
.sc_relation .relation_inner .company {
  font-size: 1.5625vw;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 14px;
}
@media (max-width: 1300px) {
  .sc_relation .relation_inner .company {
    font-size: 2vw;
  }
}
@media (max-width: 1023px) {
  .sc_relation .relation_inner .company {
    font-size: 2.5vw;
  }
}
@media (max-width: 767px) {
  .sc_relation .relation_inner .company {
    display: none;
  }
}
.sc_relation .relation_inner .review {
  font-size: 1.1458vw;
  margin-bottom: 2.60416vw;
}
@media (max-width: 1300px) {
  .sc_relation .relation_inner .review {
    font-size: 1.5vw;
  }
}
@media (max-width: 1023px) {
  .sc_relation .relation_inner .review {
    font-size: 2vw;
    margin-bottom: 4vw;
  }
}
@media (max-width: 767px) {
  .sc_relation .relation_inner .review {
    font-size: 3.4vw;
    margin-bottom: 8vw;
  }
}

.title_box .alp1 {
  display: flex;
}
@media (max-width: 767px) {
  .title_box .alp1 {
    display: block;
  }
}
.title_box .alp1 .alp1_left {
  margin-right: 50px;
}
.title_box span {
  opacity: 0;
  display: inline-block;
  transform: translateX(-2vw);
}